
	body {
		background-color: blue;
	}
			p{  font-family: Verdana, Geneva, Tahoma, sans-serif;}
			h1{ font-size: 500% ;
			    font-weight: strong;
		        text-align: center;
				color:aqua;
	 }

	